<!-- src/app/documents/about/about.component.html -->
<div class="card-container">
    <div class="card">
      <img src="../../assets/bus.webp" alt="loading" height="100px" width="100px">
        <div class="card-content" routerLink="/booking">
        Bus Booking
        <p>Click here to view bus booking details.</p>
      

      </div>
     
    </div>
    <div class="card">
      <img src="../../assets/train.jpg" alt="loading" height="100px" width="100px">
      <div class="card-content" routerLink="/train">

      <a >Train Booking</a>
      <p>Click here to view bus booking details.</p>
    </div>
    </div>

    <div class="card">
      <img src="../../assets/airplane.webp" alt="loading" height="100px" width="100px">
      <div class="card-content" routerLink="/airplane">
      Airplane Booking
      <p>Click here to view bus booking details.</p>
    </div>
    </div>

    <div class="card">
      <img src="../../assets/bike.jpg" alt="loading" height="100px" width="100px">
      <div class="card-content" routerLink="/bike">
     Bike Booking
      <p>Click here to view bus booking details.</p>
    
    </div>

    </div>
    <button routerLink="/contact" routerLinkActive="active">For further details Click here</button>
    </div>