.about-container {
    background-color: #faf0e6; /* Change to your desired background color */
    padding: 2rem;
    border-radius: 8px;
    display: flex;
  }
  .navbar{
    margin-top: 0px;
  }
  
  .left-column {
    flex: 1;
    padding-right: 2rem;
  }
  
  .right-column {
    flex: 2;
  }
  
  .booking-options {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  .booking-options h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .booking-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .booking-options li {
    margin-bottom: 0.5rem;
  }
  
  .booking-options a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .booking-options a:hover {
    text-decoration: underline;
  }
  
  .booking-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .bus-booking,
  .train-booking,
  .airplane-booking {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  .bus-booking h3,
  .train-booking h3,
  .airplane-booking h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .bus-booking p,
  .train-booking p,
  .airplane-booking p {
    line-height: 1.6;
  }
  