<!-- src/app/documents/contact/contact.component.html -->
<div class="contact-container">
    
 <h1>  About Travellell Systems</h1>

  <h1>Welcome to Travellell Systems, where your journey begins with a click! 🌐✈️</h1>
  
  <h1>Our Mission</h1>
  <p>At Travellell Systems, we're dedicated to making travel planning seamless and enjoyable. Our mission is to provide you with the most efficient and user-friendly travel solutions.</p>
  
  <h1> Meet Our Team</h1>
  <p>Our team of travel enthusiasts and tech experts are passionate about bringing the world closer to you. With years of experience in the travel industry, we're here to ensure your travel experience is nothing short of extraordinary.</p>
  
  <h1>Interactive Map</h1>
  <p>Explore destinations around the world with our interactive map. Click on any location to discover top attractions, local cuisine, and hidden gems.</p>
  
  <h1> User Reviews</h1>
  <p>Hear from travelers like you who have used our services. Read their stories and see how Travellell Systems made their trips unforgettable.</p>
  
  <h2>Plan Your Next Adventure</h2>
  <p>Ready to book your next trip? Use our intuitive booking system to find flights, hotels, and activities that suit your preferences.</p>
  
  <h1> Contact Us</h1>
  <p>"Have questions or need assistance? Our friendly customer support team is just a message away. Reach out to us anytime!"</p>
  
  <h1>📞 Phone: +91-9361090810</h1>
  <h1>📧 Email: dharmatravellellsystems.com</h1>
  
  <p>Thank you for choosing Travellell Systems. Safe travels! 🚀</p>
  
    
  </div>
  